body{
	margin: 0;
	padding: 0;
	font-size: 13px;
	background: #d3d3d3;
}
.app{
	color: #565656;
	min-width: 1000px;
	min-height: 500px; /*650*/
	font-family: Arial, Helvetica, Geneva, sans-serif;
}
.app a{
	text-decoration: none;
}
.app form{
	margin: 0;
	padding: 0;
}
.app .contentarea, .app .controlbar, .app .header{
	position: absolute;
	right: 0;
	left: 0;
}

.app .header{
	top: 0;
}
.app .contentarea{
	top: 0;
	bottom: 0;
	overflow: auto;
}
.app .controlbar{
	border-top: 1px solid #f0f0f0;
	bottom: 0;
	height: 30px;
	background-color: #dfe1e3;
}
/*Application Header*/
.app.header_true > .contentarea{
	top: 45px;
}
/*Application Control bar*/
.app.controlbar_true > .contentarea{
	bottom: 31px;
	border-bottom: 1px solid #aaa;
}

/*When Left Content is fixed*/
.app .contentarea.leftcontent_true > .contentarea.left_content{
	left: 0;
	right: auto;
	/*background: #e0e0e0;*/
	background-color: #dfe1e3;
	width: 210px;
	border-right: 1px solid #bcc2c7;
}
.app .contentarea.leftcontent_true > .contentarea.right_content{
	right: 0;
	left: 211px;
}

/*When Right Content is Fixed*/

.app .contentarea.rightcontent_true > .contentarea.left_content{
	left: 0;
	right: 211px;
}
.app .contentarea.rightcontent_true > .contentarea.right_content{
	right: 0;
	left: auto;
	width: 210px;
	border-left: 1px solid #aaa;
}

/*When Right and Left Content are Fixed*/
.app .contentarea.leftrightcontent_true > .contentarea.left_content{
	left: 0;
	right: auto;
	width: 210px;
	border-right: 1px solid #aaa;
}
.app .contentarea.leftrightcontent_true > .contentarea.center_content{
	left: 211px;
	right: 211px;
}
.app .contentarea.leftrightcontent_true > .contentarea.right_content{
	right: 0;
	left: auto;
	width: 210px;
	border-left: 1px solid #aaa;
}

/*When Left and Right is 50%*/
.app .contentarea.leftright50_true > .contentarea.left_content{
	left: 0;
	right: 50%;
	border-right: 1px solid #aaa;
}

.app .contentarea.leftright50_true > .contentarea.right_content{
	right: 0;
	left: 50%;
	border-left: 1px solid #eee;
}


/*Each Contentarea when Header is true*/
.app .contentarea.header_true > .contentarea{
	top: 31px;
}
/*Each Contentarea when Controlbar is true*/
.app .contentarea.controlbar_true > .contentarea{
	bottom: 31px;
	border-bottom: 1px solid #aaa;
}



/* @group Hack for ie7 */
.app .contentarea.controlbar_true, 
.app .contentarea.header_true, 
.app .contentarea.leftcontent_true, 
.app .contentarea.rightcontent_true, 
.app .contantarea.leftrightcontent_true{
	overflow: hidden;
}
/* @end */

/*Hide every section in the app*/
.app .section{
	display: none;
}

/*These styles are for the links contained in the header(index.html),to navigate through the pages,no need to use them in the application */

.app .navigate{
   margin-left:15px;
}
.app .navigate a{
   text-decoration:underline;
   margin-left:10px;
}

.app .block{ display:block}

.app .clr_all{ height:0}
